div.section-benchmark.container-fluid
	div.row
		div.col-lg-2
			img.pull-right(src="../images/icon-benchmark-initiative.png")
		div.col-lg-7
			h1 Australian Benchmark Initiative
			p optim2 is a sponsor of the Australian Benchmark Initiative, which aims to build a set of finance benchmarks, and facilitate the sharing of better finance practice. Participation is free, and you will receive reports comparing your performance against other organisations.
		div.col-lg-3
			a.btn.btn-blue.btn-lg Learn more &raquo; 