div.footer
		div.container-fluid
			div.row
				div.col-lg-4
					h1
						a.footer-logo(href="#") optim2
				div.col-lg-4
					h3 Sydney
					address Level 12, Lumley House, 309 Kent Street Sydney NSW 2000
					span.footer-number +61 2 8071 4150
script(src='/bower_components/jquery/dist/jquery.min.js')
script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')