nav#navigation.navbar.navbar-default(role="navigation")
	div.container
		div.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.header-logo.navbar-brand(href="/") optim2 
		div.navbar-collapse.collapse
			ul.nav.navbar-nav.navbar-right
				li
					a(href="/about-us") About us 
				li
					a(href="/what-we-do")  What we do
				li
					a(href="/insights") Insights
				li
					a(href="/contact") Contact