nav#test.navbar.navbar-default(role="navigation")
	div.container
		div.navbar-header
			button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.header-logo.navbar-brand(href="/") optim2 
		div.navbar-collapse.collapse
			ul.nav.navbar-nav.navbar-right
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown')
						| About us 
						span.caret
					ul.dropdown-menu(role='menu')
						li
							a(href="optim2-difference") optim2 difference 
						li
							a(href="improving-processes") Careers
				li.dropdown
					a.dropdown-toggle(href='#', data-toggle='dropdown')
						|  What we do 
						span.caret
					ul.dropdown-menu(role='menu')
						li
							a(href="assessing-finance") Assessing Finance
						li
							a(href="improving-processes") Improving Processes
						li
							a(href="measuring-performance") Measuring Performance
						li
							a(href="") Accounting BPO 
				li
					a(href="/insights") Insights
				li
					a(href="/contact") Contact