extends layout

block content
	div.jumbotron#service-assess-finance
		div.container
			div.col-lg-7
				h1 Assessing Finance
				h2
					| An assessment of your Finance organisation provides the opportunity to review the current operating model, identify gaps for improvement, and develop a roadmap for the future that is aligned with your strategic objectives.
				p
					a.btn.btn-secondary.btn-lg(role='button') Contact us 
	div.container
		div.row
			div.service-header-container
				div.col-lg-10.col-lg-offset-1
					h1 Do we have the right finance operating model to best support the business?
				div.col-lg-10.col-lg-offset-1
					p optim2 are routinely asked the questions – what should the cost of Finance be as a percentage of revenue?, or what should the headcount of Finance be? The questions raise more issues than they answer, including what is Finance, what is its role, and where are the gaps? To fully assess the Finance organisation both core and business embedded components need to be included, and it is critical to consider the different objectives of each component.
	div.divider
	div.container
		div.row
			h1.section-header 
				span.word optim
					span.two 2 
				| Finance Accountability Matrix
			img.figure-margin.img-responsive.center-block(src="../images/figure-1.jpg")
		div.row
			div.service-header-container 
				div.col-lg-10.col-lg-offset-1
					p The follow on question is, how does Finance become a better business partner? In response, optim2 assess the quality of your financial information (i.e. the ability to support business decision making) with the level of Finance integration with the business (i.e. people, process and technology).
				div.col-lg-12
					img.figure-margin.img-responsive.center-block(src="../images/figure-2.jpg")
	div.divider
