extends layout

block content
	div.jumbotron#careers
		div.container
			div.col-lg-9
				h1 Careers
				h2
					| A team dedicated to making a real difference
				p
					a.btn.btn-secondary.btn-lg(role='button') Contact us 
	div.container
		div.row
			div.career-header-container
				div.col-lg-7.careers-text
					h1 A team dedicated to making a real difference
					p optim2 was founded by a team of consultants with backgrounds from the Big Four and other global management consultancies. With a focus on helping organisations improve their financial effectiveness, optim2 has built an enviable client list with a large number of ASX listed, multinationals and private enterprises.
					p Our success is fuelled by the talented, diverse and driven people behind our company. Our employees are determined to go further and work hard to get there. They are focused on results and improvements, and take personal accountability for their actions.
					p optim2 combines a fun, practical, results-orientated approach with a strong track record in achieving tangible and measurable benefits.
					p We are constantly on the lookout for success-orientated, hardworking and committed individuals to join us. If you have experience in optim2 areas of expertise and/or those individuals with a strong professional services track record, let’s talk.
					p Please submit your resume to 
						a(href="#") optimise@optim2.com
				div.col-lg-5
					img.career-img.img-responsive(src="../images/careers-people.jpg")
					img.career-img.img-responsive(src="../images/careers-people-2.jpg")
	div.container.optim2-difference-container
		div.row
	div.divider
