extends layout

block content
	div.jumbotron#careers
		div.container
			div.col-lg-9
				h1 Finance Benchmarks
				h2
					| Committed to benchmarks and better practice 
				p
					a.btn.btn-secondary.btn-lg(role='button') Contact us 
	div.container
		div.row
			div.career-header-container
				div.col-lg-7.finance-benchmark-text
					h1 Committed to benchmarks and better practice 
					p The Australian Benchmark Initiative was established to build a set of Finance benchmarks and facilitate the sharing of Finance better practice between Australian companies.  Now entering its fourth year, and as the leading source of Finance benchmarks in Australia, the 2013 Australian Benchmark Initiative studies are not to be missed and include:
					div.col-lg-4
						h3 
							img(src="../images/icon-improving-purchase.png")
							| Purchase to Pay
					div.col-lg-4
						h3 
							img(src="../images/icon-receivables.png")
							| Receivables
					div.col-lg-4
						h3 
							img(src="../images/icon-payroll.png")
							| Payroll
					p In 2013, 70 of Australia’s leading organisation participated. With median revenue of $850 million, median headcount of 1500 employees, and 35% being ASX listed, the 2013 studies provided a good quantity and quality of respondent. The studies allow you to assess: 
					ul
						li What does good look like?
						li How am I performing against my peers?
						li What are the attributes of a high performing function?
						li What is the optimal headcount for my team?
						li What should the cost of my function be?
						li What are the key trends?

					p The responses provide interesting trends and insights into the way Australian companies are performing, and where their future strategies lie.
					p Further information can be found 
						a(href="http://australianbenchmarks.com/") here
				div.col-lg-5
					img.career-img.img-responsive(src="../images/finance-benchmark-1.jpg")
					img.career-img.img-responsive(src="../images/finance-benchmark-2.jpg")
	div.container.optim2-difference-container
		div.row
	div.divider
