extends layout

block content
	div.jumbotron#service-improving-processes
		div.container
			div.col-lg-9
				h1 Improving processes 
				h2
					| Improving Finance processes not only provides the opportunity for improved efficiency and effectiveness, but also can improve Finance service delivery and business partnering through quality enhancements. While there are often pockets of good practice throughout an organisation, it is rare to see better practice “end to end”.
				p
					a.btn.btn-secondary.btn-lg(role='button') Contact us 
	div.container
		div.row
			div.service-header-container
				div.col-lg-10.col-lg-offset-1
					h1 How do we design, build and implement high performing Finance processes?
				div.col-lg-10.col-lg-offset-1
					p Process improvement, including standardisation, provides an opportunity to compare processes across an organisation, as well as against better practice, to support the design and build of a high performing future state. Typical optim2 process improvement initiatives include the transactional processing areas of Purchase to Pay, Payroll, Invoice to Receipt and Payroll, however, often include other Finance processes such as month end close, reporting and analysis.
	div.divider
	div.container.improve-processes-container
		div.row
			h1.section-header 
				span.word optim
					span.two 2 
				| can provide insights on how to improve
			div.col-lg-4.process-detail
				h2.improve-header
					img(src="../images/icon-improving-purchase.png")
					|Purchase to pay
				ul
					li Purchase Order 
					li Payables centralisation 
					li Trading terms 
					li Purchasing Cards
					li Invoice automation 
					li Supplier catalogues 
			div.col-lg-4.process-detail
				h2.improve-header
					img(src="../images/icon-improving-invoice.png")
					|Invoice to receipt
				ul
					li Credit assessment 
					li Receivables centralisation
					li Trading terms
					li Collection management
					li Eletronic invoicing
					li Receivables automation
			div.col-lg-4.process-detail
				h2.improve-header
					img(src="../images/icon-improving-payroll.png")
					|Payroll
				ul
					li Time and attendance
					li Payroll centralisation
					li Payroll cycles and processing
					li Payroll reporting
					li Employee self service
					li Award interpretation
	div.container.improve-shared-services
		div.row
			h1.section-header What roles does shared services play?
			div.col-lg-10.col-lg-offset-1
				p Process improvement, including standardisation, provides an opportunity to compare processes across an organisation, as well as against better practice, to support the design and build of a high performing future state. Typical optim2 process improvement initiatives include the transactional processing areas of Purchase to Pay, Payroll, Invoice to Receipt and Payroll, however, often include other Finance processes such as month end close, reporting and analysis.
				img.figure-margin.img-responsive.center-block(src="../images/figure-3.jpg")
	div.divider
