doctype html
html
	head
		title= title
		link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet", href="/stylesheets/style.css")
	body
		nav#navigation.navbar.navbar-default(role="navigation")
			div.container
				div.navbar-header
					button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.header-logo.navbar-brand(href="/") optim2 
				div.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a(href="/about-us") About us 
						li
							a(href="/what-we-do")  What we do
						li
							a(href="/contact") Contact
		div.jumbotron#homepage
			div.container
				div.col-lg-7
					h1 Who is 
						span.word optim2?
					h2
						| optim2 is a management consultancy focused solely on Financial operations, and the agenda of the CFO. 
					p
						a.btn.btn-primary.btn-lg(role='button') Learn more about us &raquo; 
						a.btn.btn-secondary.btn-lg(role='button') Contact us 
		div.container-fluid
			div.row
				div.col-lg-12
					h1.section-header 
						span.word optim
							span.two 2 
						| Services
			div.row.services-container
				div.col-lg-3
					div.col-lg-2
						img(src="../images/services-icon-finance.png")
					div.col-lg-10
						h2 Finance assessment & transformation
					p An assessment of your Finance organisation provides the opportunity to review the current operating model, identify gaps for improvement, and develop a roadmap for the future that is aligned with your strategic objectives.
					a(href="") Learn more
				div.col-lg-3
					div.col-lg-2
						img(src="../images/services-icon-improvement.png")
					div.col-lg-10
						h2 Finance process improvement/re-design
					p Improving Finance processes not only provides the opportunity for improved efficiency and effectiveness, but also can improve Finance service delivery and business partnering through quality enhancements.
					a(href="") Learn more
				div.col-lg-3
					div.col-lg-2
						img(src="../images/services-icon-performance.png")
					div.col-lg-10
						h2 Performance measurement of Finance
					p optim2 have significant experience in the development of Finance operational reports. These reports provide the basis to monitor the performance of the Finance team, including tracking over time. 
					a(href="") Learn more
				div.col-lg-3
					div.col-lg-2
						img(src="../images/services-icon-accounting.png")
					div.col-lg-10
						h2 Accounting BPO
					p Today, small to medium enterprises are increasingly embracing outsourcing across back office processes to help transform their businesses and drive growth and innovation. 
					a(href="") Learn more
		div.divider
		div.section-benchmark.container-fluid
			div.row
				div.col-lg-2
					img.pull-right(src="../images/icon-benchmark.png")
				div.col-lg-7
					h1 Australian Benchmark Initiative
					p optim2 is a sponsor of the Australian Benchmark Initiative, which aims to build a set of finance benchmarks, and facilitate the sharing of better finance practice. Participation is free, and you will receive reports comparing your performance against other organisations.
				div.col-lg-3
					a.btn.btn-blue.btn-lg Learn more &raquo; 
		div.footer
			div.container-fluid
				div.row
					div.col-lg-4
						h1
							a.footer-logo(href="#") optim2
					div.col-lg-4
						h3 Sydney
						address Level 12, Lumley House, 309 Kent Street Sydney NSW 2000
						span.footer-number +61 2 8071 4150
	script(src='/bower_components/jquery/dist/jquery.min.js')
	script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')

