extends layout

block content
	div.jumbotron#service-measuring-performance
		div.container
			div.col-lg-9
				h1 Measuring performance 
				h2
					| Improving Finance processes not only provides the opportunity for improved efficiency and effectiveness, but also can improve Finance service delivery and business partnering through quality enhancements. While there are often pockets of good practice throughout an organisation, it is rare to see better practice “end to end”.
				p
					a.btn.btn-secondary.btn-lg(role='button') Contact us 
	div.container
		div.row
			div.service-header-container
				div.col-lg-10.col-lg-offset-1
					h1 What are the right measures for Finance, and how do we compare?
				div.col-lg-10.col-lg-offset-1
					p Performance measurement helps facilitate the continuous improvement of the Finance organisation, with three core components that optim2 is regularly engaged to assist organisation’s with:
	div.container.measuring-performance-container
		div.row
			div.col-lg-8.col-lg-offset-1
				h1.section-header-test 1. Finance Dashboards
			div.col-lg-8.col-lg-offset-1
				p.test Finance dashboards provide the opportunity to monitor Finance organisation performance, with each team accountable for the results. Measures should be relevant and accessible, and include a balanced view which combines volume and performance metrics for each function.
				p.test Depending upon the maturity of the function, a selection of the following information may be included:
				ul 
					li Process (measure, targets)
					li People (turnover)
					li Finance (budget)
					li Achievements (continuous improvement milestones)
	div.container.measuring-performance-container
		div.row
			div.col-lg-8.col-lg-offset-1
				h1.section-header-test 2. Service Level Agreements (Partnership Agreements)
			div.col-lg-8.col-lg-offset-1
				p.test Service Level or Partnership Agreements provide a basic contract between Finance and the business and assist in managing expectations and performance. Key components include:
				ul
					li An overview of the services provided
					li Key activities delivered by Finance including business input required
					li Customer requirements of Finance, and the measures that demonstrate performance
					li The factors that may limit Finance to be able to meet the designed performance levels
	div.container.measuring-performance-container
		div.row
			div.col-lg-8.col-lg-offset-1
				h1.section-header-test 3. External Benchmark
			div.col-lg-8.col-lg-offset-1
				p.test External benchmarks provide a baseline against which an organisation can compare itself to peers. While benchmarks in themselves do not provide the answers, the better practice attributes of high performing organisations often provide guidance that an organisation should consider as part of their continuous improvement initiatives. optim2 has access to a range of benchmarks, including those from the Australian Benchmark Initiative
	div.divider
