extends layout

block content
	div.jumbotron#service-measuring-performance
		div.container
			div.col-lg-9
				h1 The optim2 difference
				h2
					| Improving Finance processes not only provides the opportunity for improved efficiency and effectiveness, but also can improve Finance service delivery and business partnering through quality enhancements. While there are often pockets of good practice throughout an organisation, it is rare to see better practice “end to end”.
				p
					a.btn.btn-secondary.btn-lg(role='button') Contact us 
	div.container
		div.row
			div.service-header-container
				div.col-lg-10.col-lg-offset-1
					h1 The optim2 difference
				div.col-lg-10.col-lg-offset-1
					p optim2 was founded by a team of consultants with backgrounds from the Big Four and other global management consultancies. The optim2 difference is as follows:
	div.container.optim2-difference-container
		div.row
			div.col-lg-6
				ul
					li
						img.optim-difference-icons(src="../images/icon-optim2-difference-1.png") 
						|	Due to our sole focus on Finance operations we are able to develop actionable recommendations rapidly, and have a strong track record of achieving benefits
					li 
						img.optim-difference-icons(src="../images/icon-optim2-difference-2.png") 
						| Each individual in our team has at least ten years experience, with significant expertise in delivering these types of engagements, so you do not pay for us to learn
					li 
						img.optim-difference-icons(src="../images/icon-optim2-difference-3.png") 
						| We do not believe in consulting by PowerPoint, and ensure that all deliverables are at a level of detail that provides you with a practical road map and guidance to implement
					li
						img.optim-difference-icons(src="../images/icon-optim2-difference-4.png") 
						| Our deliverables are not “one size fits all” solutions, and all are tailored to be fit for purpose
			div.col-lg-6
				ul
					li
						img.optim-difference-icons(src="../images/icon-optim2-difference-5.png") 
						| The team has successfully delivered engagements at some of Australia’s leading companies, with an enviable list of referenceable clients
					li
						img.optim-difference-icons(src="../images/icon-optim2-difference-6.png") 
						| Any case study provided involves the team members proposed, so that specific experience can be brought to bear on this engagement
					li 
						img.optim-difference-icons(src="../images/icon-optim2-difference-7.png") 
						| We support clients in implementing the recommendations we have made
			div.col-lg-6
	div.divider
