extends layout

block content
	div.jumbotron#careers
		div.container
			div.col-lg-9
				h1 Whitepapers 
				h2
					| Bringing relevant insights and perspectives 
				p
					a.btn.btn-secondary.btn-lg(role='button') Contact us 
	div.container
		div.row
			div.career-header-container
				div.col-lg-7.whitepapers-text
					h1 Bringing relevant insights and perspectives
					p Our team of experts draws upon their extensive experience to provide the latest insights and perspectives on financial management excellence and emerging trends that impact the CFO and the finance organisation. Enjoy our latest research and white papers here.
					h3 Optimising Financial Operations
					p Insights include:
						ul
							li The finance optimisation continuum
							li Assessing the finance organisation
							li Finance optimisation levers:
							li Process improvement through standardisation
							li Finance Shared Services
							li Automation/Enterprise Content Management
					a(href="#")
						img(src="../images/pdf-icon-16-16.gif")
						| Download the optim2 Optimising Financial Operations Whitepaper
					h3 Finance Shared Services
					p Insights include:
						ul
							li Shared Services versus centralisation
							li The business case for Shared Services
							li Sourcing strategies and outsourcing
					a(href="#")
						img(src="../images/pdf-icon-16-16.gif")
						| Download the optim2 Optimising Finance Shared Service Whitepaper
					h3 Business Process Automation
					p Insights include:
						ul
							li Key candidates for automation
							li Cost effective implementation
							li Rapid automation techniques
					a(href="#")
						img(src="../images/pdf-icon-16-16.gif")
						| Download the optim2 Optimising Finance Shared Service Whitepaper				
				div.col-lg-5
					img.career-img.img-responsive(src="../images/finance-benchmark-1.jpg")
					img.career-img.img-responsive(src="../images/finance-benchmark-2.jpg")
	div.container.optim2-difference-container
		div.row
	div.divider
