/**
*
* Color Variables
*
**/
/**
*
* Misc
*
**/
.word {
  color: #262262;
}
.two {
  color: #00aeef;
}
.color-gradient {
  background: #262262;
  /* Old browsers */
  background: -moz-linear-gradient(left, #262262 5%, #00aeef 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #262262), color-stop(99%, #00aeef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #262262 5%, #00aeef 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #262262 5%, #00aeef 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #262262 5%, #00aeef 99%);
  /* IE10+ */
  background: linear-gradient(to right, #262262 5%, #00aeef 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262262', endColorstr='#00aeef', GradientType=1);
  /* IE6-9 */
}
.btn-primary {
  background: #262262;
  /* Old browsers */
  background: -moz-linear-gradient(left, #262262 5%, #00aeef 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #262262), color-stop(99%, #00aeef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #262262 5%, #00aeef 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #262262 5%, #00aeef 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #262262 5%, #00aeef 99%);
  /* IE10+ */
  background: linear-gradient(to right, #262262 5%, #00aeef 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262262', endColorstr='#00aeef', GradientType=1);
  /* IE6-9 */
  border: none;
  border-radius: 4px;
  font-size: 9pt;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 14px 20px;
  transition: background .5s;
}
.btn-primary:hover {
  background: #00aeef;
}
.btn-secondary {
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 4px;
  font-size: 9pt;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 12px 18px;
}
.btn-blue {
  background: #262262;
  border-radius: 4px;
  font-size: 9pt;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 14px 20px;
  color: #ffffff;
}
#navigation {
  background: #ffffff;
  border-bottom: 1px solid #00adee;
  margin-bottom: 0;
}
.header-logo {
  background: url("../images/optim2-logo.png") no-repeat;
  position: relative;
  top: 6px;
  width: 162px;
  height: 38px;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
/*==========  Homepage  ==========*/
.jumbotron#homepage {
  background: url("../images/bg-homepage.jpg") no-repeat;
  background-size: cover;
  height: 500px;
}
.jumbotron#homepage h1 {
  color: #262262;
  font-size: 12pt;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.jumbotron#homepage h1 span {
  text-transform: none;
}
.jumbotron#homepage h2 {
  color: #ffffff;
  font-weight: normal;
  font-size: 22pt;
  line-height: 27pt;
  text-shadow: 1px 2px 3px #5f5d80;
}
.jumbotron#homepage .btn-primary {
  margin-top: 24px;
}
.jumbotron#homepage .btn-secondary {
  margin-top: 24px;
  margin-left: 24px;
  transition: background .2s;
}
.jumbotron#homepage .btn-secondary:hover {
  background: #ffffff;
  color: #00aeef;
}
@media (min-width: 1200px) {
  .jumbotron#homepage {
    background: url("../images/bg-homepage.jpg") no-repeat 0 40%;
    background-size: cover;
  }
}
.section-header {
  font-size: 18pt;
  color: #262262;
  text-transform: uppercase;
  text-align: center;
  padding: 0 0 30px 0;
  margin: 0;
}
.section-header span {
  text-transform: none;
}
.services-container {
  padding: 40px 0;
}
.services-container div h2 {
  float: left;
  padding: 0;
  margin: 0;
  font-size: 12pt;
  line-height: 24px;
  color: #262262;
}
.services-container div p {
  margin-top: 70px;
  color: #939393;
  line-height: 17pt;
}
.divider {
  height: 10px;
  width: 100%;
  background: #262262;
  /* Old browsers */
  background: -moz-linear-gradient(left, #262262 5%, #00aeef 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #262262), color-stop(99%, #00aeef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #262262 5%, #00aeef 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #262262 5%, #00aeef 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #262262 5%, #00aeef 99%);
  /* IE10+ */
  background: linear-gradient(to right, #262262 5%, #00aeef 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262262', endColorstr='#00aeef', GradientType=1);
  /* IE6-9 */
}
/*==========  Benchmark  ==========*/
.section-benchmark {
  background: #eefaff;
  padding-top: 30px;
  padding-bottom: 30px;
}
.section-benchmark img {
  margin-top: 20px;
}
.section-benchmark h1 {
  color: #262262;
  font-size: 13pt;
}
.section-benchmark p {
  color: #647484;
  line-height: 20pt;
}
.section-benchmark .btn-blue {
  letter-spacing: 1px;
  margin-top: 45px;
  padding: 10px 50px;
}
.section-experience {
  padding: 40px 0;
}
.section-experience h2 {
  text-align: center;
  font-size: 15pt;
  color: #262262;
}
.section-experience p {
  text-align: center;
  color: #647484;
}
.section-experience .experience-container {
  padding: 20px 60px;
}
.section-experience .experience-container h2 {
  margin-bottom: 2px;
}
.section-experience .experience-text {
  font-size: 14pt;
}
.section-experience .experience-tag {
  font-size: 12pt;
  color: #00aeef;
}
.section-experience .experience-detail-text {
  color: #647484;
  font-size: 10pt;
}
/*==========  Footer  ==========*/
.footer {
  padding: 30px 0;
  background: #262262;
  /* Old browsers */
  background: -moz-linear-gradient(left, #262262 5%, #00aeef 99%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(5%, #262262), color-stop(99%, #00aeef));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #262262 5%, #00aeef 99%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #262262 5%, #00aeef 99%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #262262 5%, #00aeef 99%);
  /* IE10+ */
  background: linear-gradient(to right, #262262 5%, #00aeef 99%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#262262', endColorstr='#00aeef', GradientType=1);
  /* IE6-9 */
  color: #ffffff;
}
.footer .footer-logo {
  background: url("../images/optim-logo-white.png") no-repeat;
  width: 162px;
  height: 38px;
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.footer .footer-number {
  color: #00adee;
}
